@charset "utf-8";
h1,h2,h3,h4,h5,h6,p,li,dt,dd,ul,dl{
  margin:0; padding:0; list-style: none; display:block;
}

#headBox,
#viewBox,
#distributionBox,
#campaign,
#news,
#doctor,
#footer:after,
#headBox,
#viewBox,
#distributionBox,
#campaign,
#news,
#doctor,
#footer::after{content:" "; display:block; clear:both;}

a{ text-decoration: none; color:inherit}